<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .thumbnail {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    body {
      background-image: url('Images/estante.avif'); /* Reemplaza 'https://example.com/imagen-de-fondo.jpg' con la URL de tu imagen de fondo */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
      padding: 0;
      color: #ffffff; /* Cambia el color del texto si es necesario */
    }

    .container {
      background-color: rgba(141, 139, 139, 0.6); 
      padding: 20px;
      border-radius: 10px;
    }

    .thumbnail {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  </style>
</head>
<body>

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Productor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/principalProductor">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agregarProductos">Agregar Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="inventarios.html">Inventario</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto.html">Pedidos</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link"  style="color: white;">Cerrar Sesión</a>
      </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Productos</h2>
    <div class="d-flex justify-content-center">
      <img src="" alt="">
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- -Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</body>
</html>